---
import { getCollection, render } from "astro:content";

import { format } from "date-fns";

import "../../styles/markdown.css";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base
  title={post.data.title}
  head="Peacock's Blog"
  description={post.data.description}
>
  <h1 class="text-4xl font-bold pb-10">
    {post.data.emoji}
    {post.data.title}
  </h1>
  <p class="text-right">公開日: {format(post.data.pubDate, "yyyy-MM-dd")}</p>
  <article class="markdown-body">
    <Content />
  </article>
</Base>
