---
import Hero from "../components/Hero.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Welcome" slug="/en" lang="en">
  <Hero txt="日本語の自己紹介は" href="/" aTxt="こちら" />
  <div class="text-center">
    <p>
      Working at <a href="https://g-gen.co.jp">G-gen Co., Ltd.</a>, pushes for
      IaC and DevOps with Google Cloud and develops Golang Web APIs.
    </p>
    <br />
    <p>
      Started serving as a volunteer staff member of the <a
        href="https://pycon.jp">PyCon JP</a
      > in 2020. Since 2022, I've been the vice-chair.<br /> And, also part of the
      <a
        href="https://www.pycon.jp/committee/members.html#yoichi-takai-a-k-a-peacock"
        >PyCon JP Association's Operating Member</a
      >, as a director of the <a href="https://tv.pycon.jp">PyCon JP TV</a>.
    </p>
    <br />
    <p>
      Loves classical music (both listening and playing). Bartok is my favorite.<br
      />Other things: skiing, cameras, beer and whiskey.
    </p>
  </div>
</Base>
