---
import Hero from "../components/Hero.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Welcome" slug="/">
  <Hero txt="English introduction is " href="/en" aTxt="here" />
  <div>
    <p>
      <a href="https://www.topgate.co.jp">株式会社トップゲート</a>にてGoogle
      Cloudを使用したDevOpsやIaC(Infrastructure as
      Code)の普及に貢献すべく、開発エンジニアとして勤務。
    </p>
    <p>
      その傍ら、2020年よりPythonの国際カンファレンスである<a
        href="https://pycon.jp">PyCon JP</a
      >のスタッフとして運営に携わる。<br />2022, 2023(PyCon APAC
      2023として開催)年は副座長も務めた。<br />また、<a
        href="https://tv.pycon.jp">PyCon JP TV</a
      >のディレクターとして一般社団法人PyCon JP
      Associationに運営メンバーとして参加もしている。
    </p>
    <p>
      好きなことはクラシック音楽(B.
      Bartokがお気に入りの作曲家)で、他にもスキー・ミラーレスカメラ・ビールやウイスキーなど。
    </p>
  </div>
</Base>

<style>
  div > p {
    @apply my-5;
  }
</style>
