---
import TalkCard from "../components/TalkCard.astro";
import Experiences from "../layouts/Experience.astro";
---

<Experiences frontmatter={{ title: "My Talk Experiences / 登壇実績" }}>
  <div>All Slides are also lisenced with CC BY 4.0.</div>
  <TalkCard
    title="入門Nix ❄"
    date="2025-02-08"
    event="PyCon mini Shizuoka 2024 continue (LT)"
    slug="nix-intro-202502"
  />
  <TalkCard
    title="Pythonパッケージ管理ツールの最新情報 (Version 2024.09)"
    date="2024-09-07"
    event="Open Developers Conference 2024"
    slug="odc2024"
  />
  <TalkCard
    title="入門Nix"
    date="2024-08-16"
    event="株式会社G-gen 社内LT"
    slug="nix-intro-202408"
  />
  <TalkCard
    title="海外登壇に挑戦しませんか?"
    date="2024-01-13"
    event="PHP Conference Hokkaido 2024 (LT)"
    slug="phpcondo2024-lt"
  />
  <TalkCard
    title="イベント運営の喜びを伝えたい!"
    date="2023-12-26"
    event="SEB Year-end MEETUP"
    slug="seb_yearend2023"
  />
  <TalkCard
    title="Comparison of Packaging Tools in 2023"
    date="2023-10-20"
    event="PyCon APAC 2023"
    slug="pyconapac2023"
    video="https://www.youtube.com/watch?v=909hErbppUo"
  />
  <TalkCard
    title="Comparison of Packaging Tools in 2023"
    date="2023-09-02"
    event="PyCon TW 2023"
    slug="pycontw2023"
    video="https://youtu.be/h694YaqhP8Y?si=IIrl6krEwMK7HPst"
  />
  <TalkCard
    title="Getting Started with Statically Typed Programming in Python 3.10"
    date="2022-05-01"
    event="PyCon US 2022"
    slug="pyconus2022"
    video="https://youtu.be/ZUIK9hxyi7Y"
  />
  <TalkCard
    title="Getting Started with Statically Typed Programming in Python 3.10"
    date="2021-07-29"
    event="EuroPython 2022"
    slug="europython2021"
    video="https://www.youtube.com/watch?v=8HEYko-o63I"
  />
  <TalkCard
    title="Pythonで始める静的型付けプログラミング"
    date="2021-06-21"
    event="Open Source Conference 2021 Hokkaido"
    slug="osc21do"
    video="https://youtu.be/2sZ9U1iIscQ"
  />
</Experiences>
