---

---

<div class="pt-10 inset-x-0 bottom-5">
  <h2 class="text-2xl">連絡先 / Contacts</h2>
  <p>
    <ul class="grid grid-cols-4">
      <li>
        Email: <a href="mailto:me@p3ac0ck.net">me@p3ac0ck.net</a
        >
      </li>
      <li>
        Twitter: <a
          target="_blank"
          href="
          https://twitter.com/peacock0803sz">peacock0803sz</a
        >
      </li>
      <li>
        GitHub: <a target="_blank" href="https://github.com/peacock0803sz"
          >peacock0803sz</a
        >
      </li>
      <li>
        Facebook: <a
          target="_blank"
          href="https://www.facebook.com/peacock0803sz">peacock0803sz</a
        >
      </li>
    </ul>
  </p>
</div>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
