---
import { SiteName } from "../constants.ts";
---

<div class="header sticky" pt-5 pb-2 top-0 bg-white>
  <div class="grid" pb-2 grid-cols-4 border-black border-solid border-b-2>
    <p class="siteTitle" col-span-3>
      <a href="/">{Astro.props.name || SiteName}</a>
    </p>
    <div text-right>
      <ul class="grid" text-xl grid-rows-4>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/talks">Talks</a></li>
        <li>
          <a href="/achievements/">活動実績</a>
        </li>
        <li><a href="/resume/">職務経歴</a></li>
      </ul>
    </div>
  </div>
</div>

<style>
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p.siteTitle {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
  }
</style>
