---
import "@fontsource/carter-one";

import { SiteName } from "../constants.ts";
---

<div class="bg-slate-100 pt-5 pb-2 sticky top-0">
  <div class="pb-2 grid grid-cols-4 border-black border-solid border-b-2">
    <p class="siteTitle col-span-3">
      <a href="/">{Astro.props.name || SiteName}</a>
    </p>
    <div class="text-right">
      <ul class="text-xl grid grid-rows-3">
        <li><a href="/posts">Blog</a></li>
        <li>
          <a href="/achievements/">活動実績</a>
        </li>
        <li><a href="/resume/">職務経歴</a></li>
      </ul>
    </div>
  </div>
</div>

<style>
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p.siteTitle {
    font-size: 2rem;
    line-height: 2.25rem;
    font-family: "Carter One", sans-serif;
  }
</style>
