---
import { Image } from "astro:assets";
import profileImg from "../../public/profile.jpg";

const { txt, href, aTxt } = Astro.props;
---

<div class="mb-5 grid justify-items-center text-center">
  <h1 class="font-semibold text-6xl">
    Peacock
  </h1>
  <p class="text-3xl">(Yoichi Takai)</p>
  <div class="my-3">
    <Image class="profile w-60 h-60" src={profileImg} alt="Profile" />
    <p class="mt-2 text-base">
      Photo by Yuichiro Nota<br /> at PyCon APAC 2023
    </p>
  </div>
  <p class="text-2xl">
    {txt}<a href={href}>{aTxt}</a>
  </p>
</div>

<style>
  img.profile {
    border-radius: 25%;
  }
</style>
