<div class="mt-10">
  <a property="dct:title" rel="cc:attributionURL" href="https://p3ac0ck.net"
    >p3ac0ck.net</a
  > by <a
    rel="cc:attributionURL dct:creator"
    property="cc:attributionName"
    href="https://p3ac0ck.net">Peacock (Yoichi Takai)</a
  > is licensed under <a
    href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    >CC BY 4.0
  </a>
</div>
