---
import "../styles/markdown.css";
import Default from "./Default.astro";
const { frontmatter } = Astro.props;
---

<Default title={frontmatter.title} lang="ja">
  <h1 class="text-5xl font-bold pb-10">{frontmatter.title}</h1>
  <article class="markdown-body">
    <slot />
  </article>
</Default>
