---
import "../styles/markdown.css";
import Default from "./Default.astro";
const { frontmatter } = Astro.props;
---

<Default
  title={frontmatter.title}
  lang={frontmatter.lang}
  ogImage="https://p3ac0ck.net/og-images/origin.png"
>
  <h1 class="text-4xl font-bold pb-10">{frontmatter.title}</h1>
  <article class="markdown-body">
    <slot />
  </article>
</Default>
